// !ASIDE


.site-aside__media {

    position: fixed;
	z-index: $layer3;
	top: 0;
	left: 0;
	height: 40%;
	width: 100%;

	@include transition (all 0.3s ease-in-out);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	-webkit-box-shadow: 0 10px 15px 20px rgba(255,255,255,0.9);
	   -moz-box-shadow: 0 10px 15px 20px rgba(255,255,255,0.9);
		    box-shadow: 0 10px 15px 20px rgba(255,255,255,0.9);


	@include mq( $from: desktop-small ) {

		z-index: $layer10;
		width: 100%;
		height: 100%;

	}

	@include mq( $and: $ipad-landscape ) {

		width: 50%;
		height: 50%;

	}

}

.site-aside__info {

    position: fixed;
    top: 40%;
	left: 0;
	height: 0;
    width: 100%;
    overflow: hidden;
    z-index: $layer3;
	@include transition (all 0.3s ease-in-out);

	@include mq( $to: desktop-small ) {

        overflow: hidden;
        background: $cs-yellow;

		&.is-open {

			height: 60%;

		}

	}

	@include mq( $from: desktop-small ) {

        top: 0;
		bottom: auto;
		height:100%;
		z-index: $layer4;


    }

    @include mq( $from: desktop ) {

    		top: auto;
    		bottom: 0;

    }

    @include mq( $and: $ipad-landscape ) {

		top: auto;
		bottom: 0;
		width: 50%;
		height: 50%;
		background: $cs-yellow;

	}

    > div {

	    position: relative;
        height: 100%;
        width: 100%;
        padding: 1em;
        background: $cs-yellow;
        @include transition (all 0.3s ease-in-out);


        @include mq( $from: desktop-small ) {

        	margin: 12em 72.5% 0 5%;
        	height: auto;
        	width: 22.5%;
        	background-color: $cs-yellow-alpha;

        }

    	@include mq( $from: desktop ) {

    		margin: 80% 5% 5% 70%;
    		bottom: 0;
    		height: 20%;
        	width: 25%;

    	}

    	@include mq( $and: $ipad-landscape ) {

    	    height: 100%;
    	    width: 100%;
    	    bottom: auto;
    	    margin:0;
    	    background-color: $cs-yellow;

    	}


	}

}

#js-site-aside__media-breadcrumbs {

    bottom: -36px;

}

// Page Aside

.page__aside {

    @include mq( $from: desktop-small ) {

        position: absolute;
        background-color: $cs-yellow-alpha;
        height: auto;
        padding: 1em;
        width: 34.615385%;
        top: 5em;
        left: -39%;


    }

    @include mq( $from: desktop ) {

        top: auto;
        left: auto;
        right: auto;
        bottom: auto;

        &.is-left {

            width: 45%;
            left: -50%;

            &.hug {

                width: 55%;
                left: -50%;

            }

        }

        &.is-right {

         width: 65%;
         right: -70%;

            &.hug {

                width: 60%;
                right: -55%;

            }

        }

        &.is-center {

            width: 72.5%;

        }

        &.is-up {

            top: 5em;

        }

        &.is-mid {

            top: 50%;

        }

        &.is-down {

            bottom: -8em;

            &.is-center {

                top: 103.5%;
                bottom: auto;

            }

            &.hug {

                bottom: auto;
                top: 96%;

                &.is-right {

                    top: 97%;

                }

            }

        }

    }

}