// !ASIDE


.site-aside__media {

    position: fixed;
	z-index: $layer3;
	top: 0;
	left: 0;
	height: 40%;
	width: 100%;

	@include transition (all 0.3s ease-in-out);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	-webkit-box-shadow: 0 10px 15px 20px rgba(255,255,255,0.9);
	   -moz-box-shadow: 0 10px 15px 20px rgba(255,255,255,0.9);
		    box-shadow: 0 10px 15px 20px rgba(255,255,255,0.9);


	@include mq( $from: desktop-small ) {

		z-index: $layer10;
		width: 100%;
		height: 100%;

	}

	@include mq( $and: $ipad-landscape ) {

		width: 50%;
		height: 50%;

	}

}

.site-aside__info {

    position: fixed;
    top: 40%;
	left: 0;
	height: 0;
    width: 100%;
    z-index: $layer3;
	@include transition (all 0.3s ease-in-out);

	@include mq( $to: desktop-small ) {

		&.is-site-aside__info-open {

			height: 60%;

		}

	}

	@include mq( $from: desktop-small ) {

        top: 0;
		bottom: auto;
		height:100%;
		z-index: $layer4;


    }

    @include mq( $from: desktop ) {

    		top: auto;
    		bottom: 0;

    }

    @include mq( $and: $ipad-landscape ) {

		top: auto;
		bottom: 0;
		width: 50%;
		height: 50%;

	}

    > div {

	    position: relative;
        height: 100%;
        width: 100%;
        background: $cs-yellow;
        @include transition (all 0.3s ease-in-out);


        @include mq( $from: desktop-small ) {

        	margin: 12em 72.5% 0 5%;
        	height: auto;
        	width: 22.5%;

        }

    	@include mq( $from: desktop ) {

    		margin: 80% 5% 5% 70%;
    		bottom: 0;
    		height: 20%;
        	width: 25%;

    	}

    	@include mq( $and: $ipad-landscape ) {

    	    height: 100%;
    	    width: 100%;
    	    bottom: auto;
    	    margin:0;

    	}



	}

}

#js-site-aside__media-breadcrumbs {

    bottom: -36px;

}