// !MAIN

.site-main {

	// ! Layout Site Content
	position: absolute;
	z-index: $layer3;
	top: 40%;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	right: 0;
	height: auto;
	width: 100%;

	@include mq( $from: desktop-small ) {

		top: 7em;
		width: 65%;
		left: 30%;

	}

	@include mq( $from: desktop ) {

		width: 42%;
		left: 25%;

    }

	@include mq( $and: $ipad-landscape ) {

		top: 6.9em;
		width: 50%;
		left: 50%;
		padding-bottom: 20%;

	}

}

.page {

	position: relative;
	height: 100%;
	width: 100%;
	float:left;
    padding: 1em;
	background-color: white;

	@include mq( $to: desktop-small ) {

    	&:last-child {

    		-webkit-box-shadow: 0 10px 15px rgba(30, 36, 37, 0.9);
    		   -moz-box-shadow: 0 10px 15px rgba(30, 36, 37, 0.9);
    		        box-shadow: 0 10px 15px rgba(30, 36, 37, 0.9);

    	}

	}



	@include mq( $from: desktop-small ) {

		padding: 0;

		background-color: transparent;


	}

	@include mq( $from: desktop ) {

		padding: 0;

	}

	@include mq( $and: $ipad-landscape ) {

	    padding: 1em;
	    background-color: white;
	    float: right;

	}

}

.page__constrain {

	background-color: white;
	color: black;

	@include mq( $from: desktop-small ) {

		padding: 5%;

		background-color: $cs-black;
		background-color: $cs-black-alpha;
		color: white;

	}

	@include mq( $from: desktop ) {

		width: 100%;

	}

    @include mq( $and: $ipad-landscape ) {

	    padding: 0;
	    background-color: white;
	    color: black;
	    width: 100%;

	}


}