// !NAV

// !--Primary
// test

.nav--primary {

    @include mq( $from: desktop-small ) {

        width: 54%;
        float: left;

    }

    @include mq( $and: $ipad-landscape ) {

        width: 100%;
        float: right;

    }

}

.nav--primary__btn {

    z-index: $layerTop;

    @extend .hd;

    @include mq( $and: $ipad-landscape ) {

        display: block;

    }

}

.nav__ul {

	margin: 0;
	padding: 0;

	@include mq( $from: desktop-small ) {

    	padding: 0.75em 0;
        height: 7em - $frameThickness;

    }

    @include mq( $and: $ipad-landscape ) {

        padding-top: 0;

    }

}

.nav__item {


    text-align: left;

	a {

		display: block;
		text-decoration: none;
		padding: 1em;
		border-bottom: 1px solid white;

	}

    @include mq( $from: desktop-small ) {


        width: 100%;
        position: relative;
        float: left;

    	a {

        	color: rgb(255, 255, 255);
            display: inline-block;
            position: relative;
            float: left;
            padding: 0;
            text-decoration: none;
            border-bottom: none;

        }

    }

     @include mq( $and: $ipad-landscape ) {

        width: 100%;

        a {

            display: block;
    		text-decoration: none;
    		padding: 1em;
    		width: 100%;
    		border-bottom: 1px solid white;

        }


     }


}

// !--Fly out

.wash-nav--push--toleft {

	.site-header,
	.site-aside__media,
	.site-aside__info
	{
		left: -240px;
		right: 240px;
	}

	 @include mq( $and: $ipad-landscape ) {

    	 .site-header,
         .site-footer
         {
            left: auto;
    	    right: 50%;

    	 }

    	 .site-aside__media,
         .site-aside__info {

             left: -100%;
             right: 100%;

    	 }

	 }

}

.nav--primary__btn {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	text-decoration: none;
	font-size: 1.825em;
	color: white;
	@include transition (all 0.3s ease-in-out);

    @include mq( $from: desktop-small ) {

        color: $cs-black;

    }


}

.wash-nav {
	background-color: $cs-black;
	color: white;
	position: fixed;

	@include mq( $from: desktop-small ) {


		background-color: transparent;
        position: relative;
        width: 68%;


	}

	@include mq( $and: $ipad-landscape ) {

    	background-color: $cs-black;
	    position: fixed;
	    width: auto;
	    margin-left: 0;

	}

	.cta-contact {

		padding: 1em;

		@include mq( $and: $ipad-landscape ) {

            float: left;

            a {

                padding: 1em 0 0;

            }

        }

	}

}

.wash-nav--vertical {

	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;

	@include mq( $from: desktop-small ) {

        width: 68%;
        float: left;

    	a {
    		padding: 0;
    	}

	}


	@include mq( $and: $ipad-landscape ) {

    	width: 50%;
        float: inherit;

    	a {
    		padding: 1em;
    	}

    }

}

.wash-nav--right {

	right: -240px;

	@include mq( $from: desktop-small ) {

	    right: auto;
	    left: 0;

	}

	@include mq( $and: $ipad-landscape ) {

	    left: auto;
	    right: -50%;

	}
}

.wash-nav--right.wash-nav--open {
	right: 0px;
}

.wash-nav--push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.wash-nav--push--toleft {

	left: -240px;

	@include mq( $and: $ipad-landscape ) {

	    left: -50%;

	}

}

.wash-nav,
.wash-nav--push {
	@include transition (all 0.3s ease-in-out);
}

// !--Secondary

.nav--secondary {

    @include mq( $from: desktop-small ) {

        position: absolute;
        display: block;
        bottom: $frameThickness;
        left: 0;
        z-index: $layer2;
        padding: 0 0 $frameThickness $frameThickness;
        background: $cs-black;
        background-color: $cs-black-alpha;
        width: 27%;
        ul { padding-left: 38px; }

    }

    @include mq( $from: desktop ) {

        width: 22%;
        ul { padding-left: 4.25em; }

    }

    @include mq( $and: $ipad-landscape ) {

        display: none;

    }


}

// Hover+Current Line

.nav--primary,
.nav--secondary {

    .nav__item {

       a {

            @include transition (all 0.3s ease-in-out);

            @include mq( $to: desktop-small ) {

                background-color: $cs-black;
                color: white;

            }

            &:hover,
            &:focus {

                @include mq( $to: desktop-small ) {

                    background-color: white;
                    color: $cs-black;

                }

                @include mq( $and: $ipad-landscape ) {

                     background-color: white;
                     color: $cs-black;

                }

                &:before {

                    @include mq( $from: desktop-small ) {

                        content: " ";
                        margin-top: .75em;
                        position: absolute;
                        display: block;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        width: 1em;
                        margin-left: -1.5em;

                    }

                    @include mq( $from: desktop ) {

                        width: 3em;
                        margin-left: -4em;

                    }

                    @include mq( $and: $ipad-landscape ) {

                        display: none;

                    }

                }

            }

       }

       &.nav__item--current {

            a {
                @include mq( $to: desktop-small ) {

                    background-color: white;
                    color: $cs-black;

                }

                @include mq( $and: $ipad-landscape ) {

                     background-color: white;
                     color: $cs-black;

                }

                &:before {

                    @include mq( $from: desktop-small ) {

                        content: " ";
                        margin-top: .75em;
                        position: absolute;
                        display: block;
                        border-bottom: 1px solid rgb(255, 255, 255);
                        width: 1em;
                        margin-left: -1.5em;

                    }

                    @include mq( $from: desktop ) {

                        width: 3em;
                        margin-left: -4em;

                    }

                    @include mq( $and: $ipad-landscape ) {

                        display: none;

                    }

                }

            }

        }

    }

}

.nav--secondary {

    .nav__item {

        &.nav__item--current,
        a:hover,
        a:focus {

            &:before {

                @include mq( $from: desktop ) {

                    width: 2.25em;
                    margin-left: -3.25em;

                }

            }

        }

    }

}

// Slidr Navs

.nav--slidr {

    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;

    @include mq( $from: desktop-small ) {

        display: none;

    }

    @include mq( $and: $ipad-landscape ) {

        display: block;

    }

}

.nav--slidr--link {

    @include mq( $to: desktop-small ) {

        display: none;

    }

    position: absolute;
    bottom: $frameThickness;
    left: 50%;
    margin-left: -24px;
    z-index: $layer1;

    .nav-slidr__link {

        display: none;

        background-color: $cs-yellow-alpha;

        &:hover,
        &:focus {

            background-color: $cs-yellow;

        }

        &.is-on {

            display: block;

        }

    }

    @include mq( $and: $ipad-landscape ) {

        display: none;

    }





}

.nav-slidr__link {

   float: left;
   display: block;
   font-size: 32px;
   line-height: 32px;
   padding: .2em;
   text-decoration: none;
   background-color: rgba(255, 255, 255, 0.25);
   color: black;
   @include transition (all 0.3s ease-in-out);

   &:hover,
   &:focus {

    background-color: rgba(255, 255, 255, 0.75);
    color: black;

   }

}

.nav-slidr__link--right {

    float: right;

}


.nav--slidr--arrow {

    position: absolute;
    left: 0;
    width: 100%;
    font-size: 10px;

    @include mq( $to: desktop-small ) {

        display: none;

    }


     @include mq( $and: $ipad-landscape ) {

        display: none;

    }

    .slidr--arrow__link {

        float: right;
        margin-right: 2em;
        text-decoration: none;
        @include transition (all 0.3s ease-in-out);

        &:focus,
        &:hover {

            text-shadow: 0px 0px 5px rgb(255, 255, 255);

        }

    }

}

.multipage {

    .nav--slidr--arrow {

        @include mq( $from: desktop-small ) {

             margin-top: 1em;

        }

    }

}

// Full Page Nav

.multipage {

#fullPage-nav span, .fullPage-slidesNav span {

    border-color: $cs-yellow;
    background: transparent;

}

#fullPage-nav li .active span,
.fullPage-slidesNav .active span {

    background-color: $cs-yellow;;

}

[data-tooltip] {

     white-space: nowrap;

}

}
