// !PAGES


// ! HOME

.home {

    @include mq( $from: desktop ) {
    
        .site-main {
            left: 12.5%;    
        }
    }
    
	@include mq( $from: 1800px ) {
	 
	 	.page--1 {
	 	
			.page__constrain {
				max-width: 42em;
			}
		}
	}
}

// !--Featured 


.featured {

    @include mq( $to: desktop-small ) {

        .site-header {

            height: 12.25%;
            background-color: black;

        }

        .logo {

            height: 12.25%;
            padding-top: 0;
            padding-left: 1em;

        }

        .logo__img {

            display: none

        }

        .logo__icon--white {

            display: block;

        }


        .wash-slider__info__btn {

            display: none;

        }

        .site-main {

            top: 12.25%;

        }

        .site-aside {

            display: none;

        }

    }

    @include mq( $and: $ipad-landscape ) {

        .site-header,
        .site-main,
        .site-footer {

            width: 100%;
            left: 0;


        }

        .site-header {

            height: 7.5%;
            background-color: black;

            .constrain {

                width: 100%;

            }

        }

        .logo {

            height: 7.5%;
            padding-top: 0;
            padding-left: 0;

        }

        .logo__img {

            display: none

        }

        .logo__icon--white {

            display: block;

        }

        .nav--primary__btn {

            color: white;

        }

        .site-main {

            top: 7.5%;
            padding-bottom: 21.25% !important;
            background-color: transparent;

        }

        .site-aside {

            display: none;

        }

        .site-footer {

            z-index: $layer4;

        }

        .article {

            padding-bottom: 0;

        }


    }

    &.wash-nav--push--toleft .site-header,
    &.wash-nav--push--toleft .site-footer {

        @include mq( $and: $ipad-landscape ) {

                left: -50%;

        }

    }


}

// ! OUR STORY

.page-our-story {

    @include mq( $from: desktop-small ) {
        
        .page {
            padding-left: 16%;

            .page__constrain {
                width: 100%;    
            }
        }
    }
    
    @include mq( $from: desktop ) {
        
        .page--1,
        .page--3 {
            padding-left: 24%;
        }
    }
}


// ! NEWSLETTER

.page-newsletter {

    .page__aside{
        padding: 2em 1.25em;
        background-color: $cs-yellow;     
    }
    
	@include mq( $from: desktop-small ) {
	 
        .page__aside {
            background-color: $cs-yellow-alpha;
            top: 13em;
            left: 30%;
            width: 100%;       
        }
	 	.page--1 {
	 	
			.page__constrain {
				max-width: 22.750em;
			}
		}
	}	
    @include mq( $from: desktop ) {
        
        .page__aside {
            top: 80%;
            min-width: 23.438em;
        }
        
    }
}

// ! CONTACT

.site__address {
	margin-bottom: 1em;
	
	@include mq( $from: desktop-small ) {  
		width: 50%;
		display: inline-block;
		vertical-align: top;
		margin-right: -4px; 
	}
	 
}

.site__contact {

	a {
		text-decoration: none;
	}
} 



