@if $use-nav == true {

// !NAV

.nav--slidr {

    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;

    @include mq( $from: desktop-small ) {

        display: none;

    }

    @include mq( $and: $ipad-landscape ) {

        display: block;

    }

}

.nav-slidr__link {

   float: left;
   display: block;
   font-size: 32px;
   line-height: 32px;
   padding: .2em;
   text-decoration: none;
   background-color: rgba(255, 255, 255, 0.25);
   color: black;
   @include transition (all 0.3s ease-in-out);

   &:hover,
   &:focus {

    background-color: rgba(255, 255, 255, 0.75);
    color: black;

   }

}

.nav-slidr__link--right {

    float: right;

}


.nav--slidr--arrow {

    margin-top: -3em;
    font-size: 10px;

    @include mq( $to: desktop-small ) {

        display: none;

    }

     @include mq( $and: $ipad-landscape ) {

        display: none;

    }

    .slidr--arrow__link {

        float: right;
        margin-right: 2em;
        text-decoration: none;
        @include transition (all 0.3s ease-in-out);

        &:focus,
        &:hover {

            text-shadow: 0px 0px 5px rgb(255, 255, 255);

        }

    }

}

}